.cafes-page-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 2rem 0; 
}

.coffee-list {
    display: flex;
    justify-content: center;
    gap: 40px; 
    flex-wrap: wrap; 
    margin-top: 30px;
}

.carousel-container-wrapper {
    position: relative;
    max-width: 1000px; 
    margin: 0 auto; 
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    opacity: 1; 
    background-color: white; 
    border-radius: 50%; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.carousel-control-prev {
    left: 0; 
}

.carousel-control-next {
    right: 0; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%); 
    width: 1rem; 
    height: 1rem;
}

.coffee-card-link {
    text-decoration: none;
    color: inherit;
    display: block; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
    max-width: 320px; 
    width: 100%; 
}

.coffee-card {
    display: flex;
    flex-direction: column; 
    text-align: center;
    
    border: 1px solid #ccc; 
    border-radius: 10px;
    padding: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100%; 
    cursor: pointer; 
    background-color: #fff; 
    color: #333; 
}

.coffee-image {
    width: 280px; 
    height: 280px; 
    object-fit: cover; 
    display: block;
    
    margin: 0 auto 15px auto; 
    
    border-radius: 4px; 
    background-color: #e0e0e0; 
}

.coffee-card h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-type {
    font-size: 0.9em;
    color: #888;
    margin-bottom: 10px;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.price {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--coffee-dark); 
    margin-top: 10px;
    padding-bottom: 10px;
}

.coffee-card-link:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}