:root {
    --coffee-primary: #4e342e; /* Marrón Oscuro */
    --coffee-accent: #a1887f; /* Terracota Apagado */
    --coffee-light: #f5f5f5; /* Crema */
    --coffee-dark: #241616; /* Marrón muy Oscuro */
    
    /* Nota: También podrías definir el font-family aquí */
    --bs-font-sans-serif: 'Inter', sans-serif;
}


.bg-coffee-accent { 
    background-color: var(--coffee-accent) !important; 
}

.text-coffee-primary { 
    color: var(--coffee-light) !important; 
}

.text-coffee-dark { 
    color: var(--coffee-dark) !important; 
}



