:root {
    --coffee-primary: #4e342e; /* Marrón Oscuro */
    --coffee-accent: #a1887f; /* Terracota Apagado */
    --coffee-light: #f5f5f5; /* Crema */
    --coffee-dark: #241616; /* Marrón muy Oscuro */
    
    /* --- LÍNEA MODIFICADA --- */
    /* Establecemos la nueva fuente como la fuente base de Bootstrap */
    --bs-font-sans-serif: 'Source Serif Pro', serif; 
}


.bg-coffee-accent { 
    background-color: var(--coffee-accent) !important; 
}

.text-coffee-primary { 
    color: var(--coffee-light) !important; 
}

.text-coffee-dark { 
    color: var(--coffee-dark) !important; 
}

/* --- REGLA AÑADIDA PARA LA NEGRI TA --- */
/* Hacemos que los títulos, el menú y otros elementos importantes sean negrita */
h1, h2, h3, h4, h5, h6,
.navbar .nav-link,
.fw-bold {
    font-weight: 700 !important; /* '700' es negrita */
}